body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #096F90;
    color: #fff;
    height: 180px;
    width: 100%; /* ajustamos el ancho de la barra de navegación */
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .navbar-brand {
    float: left;
    margin-right: 20px;
  }
  
  .navbar-brand img {
    height: 40px;
  }
  
  .navbar-menu {
    float: left;
  }
  
  .navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    float: left;
    margin-left: 20px;
  }
  
  .navbar-menu li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-menu li a:hover {
    background-color: #666;
  }
  
  .valores {
    background-color: #f2f2f2;
  }
  
  .vision {
    background-color: #e6e6e6;
  }
  
  .politicas {
    background-color: #d9d9d9;
  }
  
  .objetivos {
    background-color: #cccccc;
  }
  
  .filosofia {
    background-color: #bfbfbf;
  }
  
  .organigrama {
    background-color: #b3b3b3;
  }
  
  h2 {
    font-size: 36px;
    margin-top: 40px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
  }
  
  ul {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }